{% extends 'base.html.twig' %}

{% block title %}{% trans %}Type Creation {% endtrans %} {% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center">
        <h2>{% trans %}Type Creation/Update{% endtrans %}</h2>
    </div>

    {# Bouton retour liste clients #}
    <div class= "d-flex justify-content-end mt-3">
        <a href=" {{path('type_list')}}">
            <button type="button" class="btn btn-primary">{% trans %}Back to the type list{% endtrans %}</button>
        </a>
    </div>

    {# formulaire CustomerType #}
    <div class="col-10">
        {{ form_start(form)}}
        {{ form_end(form)}}
    </div>
{% endblock %}