{% extends 'base.html.twig' %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block body %}
<div class= "text-center mt-5">
    <h1>{% trans %}Hello!!!{% endtrans %}</h1>
</div>

{% endblock %}
