{% extends 'base.html.twig' %}

{% block title %}{% trans %}Website creation/update{% endtrans %}{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center my-2">
        <h2>{% trans %}Website Creation/Update{% endtrans %}</h2>
    </div>
   
    <div class= "col-2">
        <a href=" {{path('website_list')}}">
            <button type="button" class="btn btn-primary">{% trans %}Back to the website list{% endtrans %}</button>
        </a>
    </div>

    <div class="col-10 mt-2">
        {{ form_start(form)}}
        {{ form_end(form)}}
    </div>
{% endblock %}